# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

logs_final*
logs/*
figs/*
plots/*
topologies/partition_log/*
src/klee-*
src/test.bc
src/problems/DOTE/temp_dote_data*
src/problems/DOTE/networking_envs/data/Abilene/models_ignore/*

# Processing files
*.txt
*.png
*.jpg
*.csv
*.json
